.input {
  display: flex;
  flex-direction: column;
}

.titleText {
  width: 19rem;
  height: 0.75rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #333333;
  font-family: Ubuntu Mono;
}

.error {
  width: 2rem;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: Noto Sans JP;
  color: red;
}

.headerText {
  width: 2rem;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
  font-family: Noto Sans JP;
}

.footerText {
  width: 6.2rem;
  height: 0.9rem;
  font-size: 0.625rem;
  line-height: 0.9rem;
  font-family: Noto Sans JP;
  margin-bottom: 1rem;
  color: #828282;
}
