.input {
  display: flex;
  flex-direction: column;
}

p:nth-of-type(1) {
  width: 19rem;
  height: 0.75rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: #333333;
  font-family: Ubuntu Mono;
}

.test {
  color: red;
}

p:nth-of-type(2) {
  width: 2rem;
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #333333;
  font-family: Noto Sans JP;
}

p:nth-of-type(3) {
  width: 6.2rem;
  height: 0.9rem;
  font-size: 0.625rem;
  line-height: 0.9rem;
  font-family: Noto Sans JP;
  margin-bottom: 1rem;
  color: #828282;
}
