.input {
  display: flex;
  flex-direction: column;
}

p:nth-of-type(1) {
  width: 314px;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
  font-family: Ubuntu Mono;
}

p:nth-of-type(2) {
  width: 31px;
  height: 17px;
  font-size: 12px;
  line-height: 17px;
  color: #333333;
  margin: 2px 0px;
  padding: 0;
  font-family: Noto Sans JP;
}

p:nth-of-type(3) {
  width: 99px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-family: Noto Sans JP;
}
